@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');
body {
    font-family: sans-serif;
    display: grid;
    grid-template-areas: 
      'header' 
      'nav'
      'content'
      'footer';
    background-image: url(dust_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    font-family: 'IBM Plex Mono', monospace;
  }
  .header {
    grid-area: header;
    padding: 5px;
    text-align: center;
    font-size: 50px;
    border: 1px solid;
    background-color: rgba(174, 214, 241, 0.5);
  }
  nav {
    grid-area: nav;
    background-color: rgba(40, 116, 166, 0.5);
    border: 1px solid;
  }
  .links {
      grid-column: auto;
      grid-row: auto;
      padding: 20px;
      text-align: center;
      border: 1px solid;
  }
  
  .container {
  display: grid;
  grid-template-areas: 'middle right';
  grid-template-columns: 4fr 1fr;
  border: 1px solid;
  background-color: rgba(174, 214, 241, 0.5);
  } 

  .middle,
  .right {
    padding: 10px;
    height: auto;
    border: 1px solid;
  }
  
  .left {
    grid-area: left;
    grid-column: auto
  }
  
  .middle {
      grid-area: middle;
      grid-column: auto
      border 1px solid
  }
  
  .right {
    grid-area: right;
    grid-column: auto
    border 1px solid 
  }
  .under{
      grid-area: auto;
      padding: 10px;
  }
  
  .footer {
    grid-area: footer;
    padding: 10px;
    text-align: center;
    border: 1px solid;
    background-color: rgba(40, 116, 166, 0.5);
  }
  a:visited{
      color: purple;
  }
  a:hover{
      color: navy;
  }
  a:active{
      color: cyan;
  }