*, *:before, *:after {
    box-sizing: border-box; 
  }
  
  .topnav {
  grid-area: topnav; 
  }
  header {
  grid-area: header;
  }
  .content {
  grid-area: content; 
  }
  footer {
  grid-area: footer;
  }
  .midja {
  grid-area: midja; 
  }
  .vinstri {
  grid-area: vinstri;
  }
  .haegri {
  grid-area: haegri; 
  }
  
  body {
  display: grid;
  grid-gap: 0;
  grid-template-areas:
    "topnav"
    "header"
    "content"
    "footer";
  }
   body {
  line-height: 1.5em;
  } 
  header {
  background: #93B9BE; 
  }
  footer {
  background: #93B9BE; 
  }
  .midja {
  background: #93B9BE; 
  }
  .vinstri {
  background: #93B9BE; 
  }
   
  .haegri {
  background: #93B9BE; 
  }
  
  .content {
  display: grid;
  grid-gap: 0;
  grid-template-areas:
    "vinstri" "midja" "haegri"  
    }
    }
     header h1 {
     color: #fff;
     line-height: 1.2;
     font-weight: normal;
     }
     .midja h2 {
     margin: .7em 0 .8em 0;
     }
     .midja h4 {
     text-align: justify;
     margin: .4em 0;
     }
      .midja p {
     text-align: justify;
     }
    .topnav ul{
    background: #1c2d1c; 
     }
     .topnav input {
    display: none;
    }.topnav ul{
    background: #1c2d1c; 
    }
    .topnav input {
    display: none;
    }
    
    .topmenu {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none; 
       }
  
    .topmenu {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none; 
  
    }
    .topmenu li {
    border: 0;
    border-bottom: 1px solid gray; 
    padding: 0;
    margin:0;
    }
    .topmenu li {
    border: 0;
    padding: 0;
    border-bottom: 1px solid gray; 
    }
    .topmenu a {
    display: block; 
    color: white;
    text-decoration: none;
    text-align: center;
    padding: .4em 1em; 
    }
    .topmenu a:hover,
    .topmenu a:active,
    .virkur {
    color: black !important;
    background-color: silver;
    }
